html, body {
  height: 100%;
  width: 100%;
}

/* INPUT STYLING */
/* #region */
input {
  border-bottom-style: groove;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

input:focus {
  outline: none;
  border-bottom-color: red;
  animation-name: input-select;
  animation-duration: 1s;
}

/* ANIMATIONS */
/* #region */
@keyframes input-select {
  25% {border-bottom-color: orange;}
  50% {border-bottom-color: orangered;}
  100% {border-bottom-color: red;}
}
/* #endregion */
/* END ANIMATIONS */

/* #endregion */
/* END INPUT STYLING */

.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up {
  height: 22rem;
  width: 22rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-radius: 1rem;
}

.user-info {
  margin-top: 3rem;
  border: none;
}

fieldset section {
  margin-bottom: 2rem;
}

.label-block {
  margin-bottom: .5rem;
}

.name-input, .email-input, .password-input {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
}


#sign-up .submit {
  margin: auto;
}

#sign-up-button {
  height: 2rem;
  width: 12rem;
  border-radius: 1rem;
}

button:focus, button:hover {
  outline: none;
  background-color: #FF8E0D;
  color: white;
}